body {
    background: rgb(120, 39, 43)
    
    
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.profile-edit-btn {
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    border-radius: 50%; /* Round background */
    padding: 5px; /* Padding around the icon */
  }
  
  .profile-edit-btn:hover {
    background: rgba(0, 0, 0, 0.7); /* Darker background on hover */
  }