
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>



<!-- partial:index.partial.html -->
<div class="cotn_principal">
<div class="cont_centrar">

  <div class="cont_login">
<div class="cont_info_log_sign_up">
      <div class="col_md_login">
<div class="cont_ba_opcitiy">
        
        <h2>Se connecter</h2>  
  <p>Avec Delice ou Déçoit choisir votre bon plan et donner des avis sur votre expérience</p> 
  <button class="btn_login" (click)="changeToLogin()">Se connecter</button>
  </div>
  </div>
<div class="col_md_sign_up">
<div class="cont_ba_opcitiy">
  <h2>Créer nouveau compte</h2>

  
  <p>S’inscrire C’est simple et rapide.</p>

  <button class="btn_sign_up" (click)="changeToSignUp()">S’inscrire</button>
</div>
  </div>
       </div>

    
    <div class="cont_back_info">
       <div class="cont_img_back_grey">
       <img src="../../assets/bg/bg-rs4.jpg" alt="" />
       </div>
       
    </div>
<div class="cont_forms" >
    <div class="cont_img_back_">
       <img src="../../assets/bg/bg-rs4.jpg" alt="" />
       </div>
       <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
 <div class="cont_form_login">
    <a routerLink="/home" (click)="hiddenLoginAndSignUp()"><i class="material-icons">&#xE5C4;</i></a>
    <h2>Se connecter</h2>
 <input type="email" ngModel name="username" id="username1" placeholder="Email" />
 <input type="password" ngModel name="password" id="password1" placeholder="Password" />
 <button type="submit" class="btn_login" (click)="changeToLogin()">LOGIN</button>
  </div>
</form>
   <div class="cont_form_sign_up">
    <a routerLink="" (click)="hiddenLoginAndSignUp()"><i class="material-icons">&#xE5C4;</i></a>
     <h2>SIGN UP</h2>
     <form (ngSubmit)="register()">
      <div>
        <label for="firstName">First Name:</label>
        <input id="firstName" [(ngModel)]="user.firstName" name="firstName" required>
      </div>
      <div>
        <label for="lastname">Last Name:</label>
        <input id="lastname" [(ngModel)]="user.lastname" name="lastname" required>
      </div>
      <div>
        <label for="username">Username:</label>
        <input id="username" [(ngModel)]="user.username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
      </div>
      <div>
        <label for="datenaissance">Date of Birth:</label>
        <input type="date" id="datenaissance" [(ngModel)]="user.datenaissance" name="datenaissance" required>
      </div>
      <div>
        <label for="gender">Gender:</label>
        <input id="gender" [(ngModel)]="user.gender" name="gender" required>
      </div>
      <div>
        <label for="numberphone">Phone Number:</label>
        <input id="numberphone" type="number" [(ngModel)]="user.numberphone" name="numberphone" required>
      </div>
      <div>
        <label for="country">Country:</label>
        <input id="country" [(ngModel)]="user.country" name="country" required>
      </div>
      <div>
        <label for="state">State:</label>
        <input id="state" [(ngModel)]="user.state" name="state" required>
      </div>
      <button class="btn_sign_up" type="submit">Register</button>
    </form>
    
  </div>

    </div>
    
  </div>
 </div>
</div>
<!-- partial -->
  <script  src="../../assets/js/login.js"></script>

