
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>



<!-- partial:index.partial.html -->
<div class="cotn_principal">
<div class="cont_centrar">

  <div class="cont_login">
<div class="cont_info_log_sign_up">
      <div class="col_md_login">
<div class="cont_ba_opcitiy">
        
        <h2>Se connecter</h2>  
  <p>Avec Delice ou Déçoit choisir votre bon plan et donner des avis sur votre expérience</p> 
  <button class="btn_login" (click)="changeToLogin()">Se connecter</button>
  </div>
  </div>
<div class="col_md_sign_up">
<div class="cont_ba_opcitiy">
  <h2>Créer nouveau compte</h2>

  
  <p>S’inscrire C’est simple et rapide.</p>

  <button class="btn_sign_up" (click)="changeToSignUp()">S’inscrire</button>
</div>
  </div>
       </div>

    
    <div class="cont_back_info">
       <div class="cont_img_back_grey">
       <img src="../../assets/bg/bg-rs4.jpg" alt="" />
       </div>
       
    </div>
<div class="cont_forms" >
    <div class="cont_img_back_">
       <img src="../../assets/bg/bg-rs4.jpg" alt="" />
       </div>
       <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
 <div class="cont_form_login">
    <a routerLink="/home" (click)="hiddenLoginAndSignUp()"><i class="material-icons">&#xE5C4;</i></a>
    <h2>Se connecter</h2>
 <input type="email" ngModel name="username" id="username" placeholder="Email" />
 <input type="password" ngModel name="password" id="password" placeholder="Password" />
 <button type="submit" class="btn_login" (click)="changeToLogin()">LOGIN</button>
  </div>
</form>
   <div class="cont_form_sign_up">
    <a routerLink="/home" (click)="hiddenLoginAndSignUp()"><i class="material-icons">&#xE5C4;</i></a>
     <h2>SIGN UP</h2>
<input type="text" placeholder="Email" />
<input type="text" placeholder="User" />
<input type="password" placeholder="Password" />
<input type="password" placeholder="Confirm Password" />
<button class="btn_sign_up" (click)="changeToSignUp()">SIGN UP</button>

  </div>

    </div>
    
  </div>
 </div>
</div>
<!-- partial -->
  <script  src="../../assets/js/login.js"></script>

